<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app/app.js"></script>
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/default.css">
</head>

<body ng-app="app" ng-controller="base as b">
    <div id="debug">
        <div>change mode : {{b.editMode}}</div>
    </div>
    <div id="top_navi">
        <button ng-click="b.testSend()">output</button>
        <button my-edit-button="b.editMode"></button>
        <button ng-click="b.triggerLightbox()">light box</button>
    </div>
    <div id="left">
        <div>
            <div>
                <input type="text" placeholder="GROUP" ng-model="b.groupInput" my-enter="b.addGroup()">
            </div>
            <ul class='ul_unstyle mList'>
                <li ng-repeat="val in b.groups">
                    <div ng-click="b.selectGroup(val)">{{val.title}}</div>
                    <div class="btn-group">
                        <button ng-if='b.editMode' ng-click="b.editThisData(val)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button ng-if='b.editMode' ng-click="b.flagBox(b.msg.del_group,b.deleteGroup,val)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-if="b.currentGroup">
            <h3>{{b.currentGroup.title}}</h3>
            <input type="text" placeholder="UNIT" ng-model="b.unitInput" my-enter="b.addUnit()">
            <ul class='ul_unstyle mList'>
                <li ng-repeat="val in b.currentGroup.units">
                    <div ng-click="b.selectUnit(val)">{{val.title}}</div>
                    <button ng-if='b.editMode' ng-click="b.flagBox(b.msg.del_unit,b.deleteUnit,val)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div ng-if="b.editData">
            <input type="text" ng-model="b.editData.title">
            <button>accept</button>
        </div>
    </div>
    <div id="right">
        <div>
            <input type="text" placeholder="lang" my-enter="b.addLang()" ng-model="b.langInput">
            <ul class='ul_unstyle lang_list'>
                <li ng-repeat="val in b.langs">
                    <span>{{val}}</span>
                    <button ng-if='b.editMode' ng-click="b.flagBox(b.msg.del_lang,b.removeLang,val)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div>
            <h3>{{b.currentUnit.title}}</h3>
        </div>
        <div class="col-sm-6" ng-repeat="val in b.currentUnit.words">
            <h3>{{val.lang}}</h3>
            <input type="text" placeholder="content" ng-model="val.content">
        </div>
    </div>
    <div id="lbox" light-box="b.flagBoxTemp" ng-if="b.flagBoxTemp"></div>
</body>

</html>
